<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmployerPartnersEntities" connectionString="metadata=res://*/EmpoyerPartners.csdl|res://*/EmpoyerPartners.ssdl|res://*/EmpoyerPartners.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srveducation;initial catalog=EmployerPartners;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmployerPartnerSQLOLEDB" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=EmployerPartners;Data Source=srveducation" />
  </connectionStrings>
</configuration>