<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="EmployerPartnersEntities" connectionString="metadata=res://*/EmpoyerPartners.csdl|res://*/EmpoyerPartners.ssdl|res://*/EmpoyerPartners.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srveducation;initial catalog=EmployerPartners;user id=TestPartnerUser;password=Partner6++++;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="EmployerPartnerSQLOLEDB" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=EmployerPartners;Data Source=srveducation" />
    <add name="EmployerPartnerSQL" connectionString="Data Source=SRVEDUCATION;Initial Catalog=EmployerPartners;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DevelopmentStudentDVZ" connectionString="Data Source=DEVELOPMENT;Initial Catalog=StudentDVZ;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DevelopmentAspirantuu" connectionString="Data Source=DEVELOPMENT;Initial Catalog=aspirantuu;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="DevelopmentStudentDVZSQLOLEDB" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDVZ;Data Source=DEVELOPMENT" />-->
    <add name="SRVBUS_SKUD" connectionString="Data Source=SRVBUS;Initial Catalog=SKUD;user id=skud;password=Sr87BGek" providerName="System.Data.SqlClient" />
    <add name="EmployerPartnersEntities" connectionString="metadata=res://*/EDMX.EmpoyerPartners.csdl|res://*/EDMX.EmpoyerPartners.ssdl|res://*/EDMX.EmpoyerPartners.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srveducation;initial catalog=EmployerPartners;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>